---
import { getCollection } from 'astro:content';
import Layout from '@layouts/Default.astro';
import BlogList from '@components/blog/BlogList.astro';

const posts = await getCollection('blog').then((collection) =>
  collection
  
);
---

<Layout
  title='Blog'
  description='Synthethic voice generation, AI, and all things creative technology'
  pageTitle='Manuel Thomsen Creative Technologist'
>
  <main class='p-6'>
    
    <BlogList posts={posts} />
  </main>
</Layout>
