---
---

<footer class='bg-black text-white p-6'>
  <h2 class='hidden'>Footer</h2>
  <p class='uncut'>
    Catch me on Threads<a
      href='https://www.threads.net/@manuelito.tech'
      target='_blank'
      class='text-blue'> <br> @manuelito.tech</a
    >
  </p>
</footer>
