---
interface Props {
  content: any;
}

const { content } = Astro.props;
---

<article class='prose-slate w-sm md:w-prose md:prose uncut'>
  <a href='/blog/' title='Back to blog'>&larr; Back to blog</a>
  <p class='text-slate text-sm md:text-base'>
    Published on {content.pubDate} by {content.author}
  </p>
  <slot />
  <p class='text-slate Handjet'>Written by {content.author}</p>
  <a href='/blog/' title='Back to blog'>&larr; Back to blog</a>
</article>
<svg xmlns="http://www.w3.org/2000/svg" width="0" height="0">
  <filter id="blur-and-scale" y="-50%" x="-50%" width="200%" height="200%">
    <feGaussianBlur in="SourceGraphic" stdDeviation="50" result="blurred" />
    <feColorMatrix in="blurred" type="saturate" values="5" />
    <feComposite in="SourceGraphic" operator="over" />
  </filter>
</svg>